html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --primary-text-color: #212121; 
    --accent-color: #2196F3;
    --second-text-color: #757575; 
    --primary-bg-color: #F5F4FA;
    --medium-bg-color: #E5E5E5;
    --dark-bg-color: #2F303A;
    --transparent-color: rgba(255, 255, 255, 0.6);
    --white-color: #ffffff;
}



/* основной цвет текста #212121 */ 
/* цвет вторичного текста #757575  */
/* цвет акцента #2196F3 */
/* темный цвет фона #2F303A */
/* светлый цвет фона #E5E5E5 */
/* средний цвет фона #F5F4FA */
/* белый цвет #FFFFFF */
/* белый прозрачный rgba(255, 255, 255, 0.6 */



body {
background-color: #ffffff;
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;

margin: 0;
}

/* шапка сайта */
.flex {
  display: flex;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-logo {
    color: var(--primary-text-color);
}

.nav-site > a {
 
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.nav-site a {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    text-decoration: none;
    
}

.nav-site {
                /* outline: 1px solid tomato; */
  display: flex;           
 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-site .container {
  align-items: center;
}

.nav-site-link {
  /* background-color: tomato; */
  margin-right: 50px;
}

.nav-site-link:last-child,
.nav-site-contacts:last-child {
  margin-right: 0;
}

.nav-site-contacts {
  /* background-color: teal; */
  margin-right: 50px;
  
}

.block-contacts {
  margin-left: auto;
  
  
}

.block-links {
  margin-left: 93px;
  
}
.nav-site .link.current {
    color: var(--accent-color); 
}



.link {
    color: var(--primary-text-color);
}

.nav-site .link:hover, 
.nav-site .link:focus {

    color: var(--accent-color);
}

.contacts {
    color: var(--second-text-color);
}

.nav-site .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* футер */

footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--dark-bg-color);
    color: var(--white-color);
  }

  .footer-contaier {
    /* outline: 1px solid tomato; */

    width: 1200px;
    margin-left: auto;
    margin-right: auto;

  }
  
  footer a {
    
    text-decoration: none;
  }

  
  
  .footer-logo {
    margin-left: 15px;

    color: var(--white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  
  .logo {
      color: var(--accent-color);
  }
  
  address {
      margin-top: 20px;
      margin-left: 15px;
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
  }
  address > a {
      color: var(--transparent-color);
  }
  
  address > a:hover, 
  address > a:focus  {
      color: var(--accent-color);
  }



/* заказ услуги */
.service-container {
  margin-top: 0;
  padding-bottom: 200px;
  padding-top: 200px;
  
  background-color: var(--dark-bg-color);
  text-align: center;
}

.service-title { 
  
  margin: 0;
  
  color: var(--white-color); 

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;


  
  letter-spacing: 0.06em;
  text-transform: uppercase;
   
  
}


/* Soft skills */

.softskills {
  margin-top: 94px ;
}

.softskill-item{
  text-align: left;
}

.softskill-item:not(:last-child) {
  margin-right: 30px;
}

.softskills-titles {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.softskills-text {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--second-text-color);  
  
  font-size: 14px;
  line-height: 1.71;
}


/* Чем мы занимаемся */


.activity-container {
  margin-top: 94px;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}


  .activity-container-item:not(:last-child) {
    margin-right: 30px;
  }
  
  

/* Наша команда */
.team {
  margin-top: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bg-color);
}

.team-item {
  background-color: var(--white-color);
}

.team-item:not(:last-child) {
  
  margin-right: 30px;
}



.team-img {

  margin-top: 50px;
  display: flex;
  
  
}
.team-members {
  margin-top: 30px;
  margin-bottom: 0;

  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18px;
}
.specialty {
  margin-bottom: 0;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.18;
}



/* стили кнопок */
.button {
  border-radius: 4px;
  border: 1px solid transparent;
  
  font-family: inherit;
  align-items: center;
  text-align: center;

  display: inline-block;
}

.first{
    
    padding: 10px 32px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--white-color);
    background-color: var(--accent-color);
    

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;  
}

.second {
  padding: 6px 22px;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
 
}

.button.second:hover, 
.button.second:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
  
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.button.first:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    cursor: pointer;
}

/* список предложений */
.offers-btn {
  /* background-color: tomato; */

  width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.offers-btn-item:not(:last-child) {
margin-right: 8px;
}


.offers {
  margin-top: 94px;
  margin-bottom: 94px;
}

.offers-text {
  outline: 1px solid tomato;
  margin: 20px 24px;
}

.offers h2 {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em
}

.offers p {
    color: var(--second-text-color);
    
    font-size: 16px;
    line-height: 1.87;
}

.offers a {
  text-decoration: none;
}

.offers-page {
  
  
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
}

  .offers-page-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
  }

  .offers-page-element:nth-child(3n) {
    margin-right: 0;
  }

  .offers-page-element:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }



/* контейнер для размера блоков */

.container {
  outline: 1px solid tomato;
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  
  text-align: center;
}


  






